html,body {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13pt;
}
a,a:visited,a:link {
	color: #242e3c;
	text-decoration: none;
	font-weight: normal;
}
a:hover {
	color: #f23005;
}
.logo-header {
	background-color: #242e3c;
}
.logo-header-dots {
	display: flex;
	justify-content: space-between;
	height: 58px;
	background: transparent url(dots.png) repeat;
	padding: 10px;
}
.menu > ul {
	list-style-type: none;
}
.menu > ul > li {
	margin: 0 10px;
	display: inline;
	font-weight: normal;
}
.menu > ul > li > a,
.menu > ul > li > a:visited,
.menu > ul > li > a:link,
.menu > ul > li > a:hover {
	color: #fff;
}
.main-content {
	width: 80%;
	margin: 0 auto;
}
h2 {
	color: #03a688;
}
h3 {
	color: #242e3c;
}
pre {
	overflow-x: scroll;
	padding: 20px;
	border-radius: 10px;
	background-color: #f3f6fa;
	color: #576c81;
	font-size: 13pt;
}
code {
	display: inline-block;
}
code.highlighter-rouge {
	color: #f23005;
}
hr {
	border: none;
	border-top: 1px solid #ccc;
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 10px;
}
.content-section {
	margin-bottom: 40px;
}
.boxes{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.box {
	padding: 20px;
	margin: 0 auto;
	width: 140px;
	height: 130px;
	box-shadow: 10px 10px 0px #576c81;
	background-color: #b6d7a8;
	text-align: center;
	position: relative;
	border-radius: 10px;
}
.box h3 {
	margin: 0;
	padding: 5px 0;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}
.box p {
	margin: 0;
	padding: 2px;
	line-height: 22px;
	font-weight: 300;
	font-size: 18px;
}
.box a {
	position: absolute;
	display: block;
	bottom: 5px;
	margin: 0 auto;
	left: 70px;
}
@media screen and (max-width: 970px) {
	.box-container {
		width: 100%;
		margin-bottom: 20px;
	}
}
