body {
    margin: 0;
    padding: 0;
    font-family: Barlow, sans-serif;
}

nav {
    font-family: Barlow, sans-serif;
    letter-spacing: normal;
    line-height: 24px;
}

#nav-main {
    background: #05254c;
    padding: 50px 0 30px;
}

#nav-main .logo {
    display: block;
    -moz-text-align-last: left;
    text-align-last: left;
}

.nav ul li {
    margin: 0 25px;
}

.nav ul li:last-child {
    margin-right: 0;
}

.nav ul li a:visited {
    color: #9dafc4
}

.nav ul li.active a {
    color: #fff;
}

.nav ul li a {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 1px solid #05254c;
    color: #9dafc4;
}

.nav ul li a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none !important;
}

footer {
    background: #05254c;
    color: white;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: underline;
}

dl,
ol,
ul {
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6
}

.nav ul li.pre {
    margin: 0 5px;
}

.nav ul li.pre a {
    color: #ffd105;
    border: 1px solid #0386ac;
    border-radius: 50em;
    padding: 3px;
    width: 32px;
    height: 32px;
    line-height: 1.65;
    text-align: center;
    display: block;
}

.nav ul li.pre a:hover {
    border: 1px solid #fff;
}

.nav {
    text-align: right;
}

.nav a {
    color: #fff;
    font-size: 1rem;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav-footer ul li {
    line-height: 1;
    list-style-type: none;
    margin: 0;
    padding: 0 7px;
    position: relative;
}

#nav-footer ul li a {
    line-height: 1;
}

#nav-footer ul li:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 2px solid #000;
}

#nav-footer ul li:last-child {
    padding-right: 0;
}

#nav-footer ul li:last-child:after {
    display: none;
}

*,
:after,
:before {
    box-sizing: inherit
}

.align-middle {
    align-items: center
}

@media print,
screen and (max-width: 64em) {
    .nav .nav-top {
        overflow-y: auto;
        white-space: nowrap;
        width: 100%;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .nav ul {
        display: block;
    }

    .nav ul li {
        margin: 0 10px;
        display: inline;
    }

    .nav ul li:first-child {
        margin-left: 0;
    }

    .nav ul li a {
        font-size: 0.875rem;
        display: inline-block !important;
    }

    .logo {
        margin-bottom: 20px;
        display: block;
    }

    .logo svg {
        height: 40px;
    }

    #nav-main {
        padding-top: 20px;
    }

    .nav .nav-top {
        overflow-y: auto;
        white-space: nowrap;
        width: 100%;
    }

    .nav ul {
        display: block;
        align-items: left;
    }

    .nav ul li {
        margin: 0 10px;
        display: inline;
    }

    .nav ul li:first-child {
        margin-left: 0;
    }

    .nav ul li a {
        font-size: 0.875rem;
    }

    .nav .logo {
        margin-bottom: 20px;
    }

    .nav .logo svg {
        height: 40px;
    }

    #footer p {
        font-size: 10px;
    }

    #nav-footer ul li a {
        font-size: 10px;
    }
}

.grid-x {
    display: flex;
    flex-flow: row wrap
}

.grid-container {
    max-width: 75rem;
}

.grid-container,
.grid-container.fluid {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-left: auto;
    margin-right: auto;
}

.grid-container.fluid {
    max-width: 100%;
}

.grid-container.full {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.grid-x {
    display: flex;
    flex-flow: row wrap;
}

.cell {
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}

.cell.auto {
    flex: 1 1 0px;
}

.cell.shrink {
    flex: 0 0 auto;
}

.grid-x>.auto,
.grid-x>.shrink {
    width: auto;
}

.grid-x>.small-1,
.grid-x>.small-10,
.grid-x>.small-11,
.grid-x>.small-12,
.grid-x>.small-2,
.grid-x>.small-3,
.grid-x>.small-4,
.grid-x>.small-5,
.grid-x>.small-6,
.grid-x>.small-7,
.grid-x>.small-8,
.grid-x>.small-9,
.grid-x>.small-full,
.grid-x>.small-shrink {
    flex-basis: auto;
}

@media print,
screen and (min-width: 40em) {

    .grid-x>.medium-1,
    .grid-x>.medium-10,
    .grid-x>.medium-11,
    .grid-x>.medium-12,
    .grid-x>.medium-2,
    .grid-x>.medium-3,
    .grid-x>.medium-4,
    .grid-x>.medium-5,
    .grid-x>.medium-6,
    .grid-x>.medium-7,
    .grid-x>.medium-8,
    .grid-x>.medium-9,
    .grid-x>.medium-full,
    .grid-x>.medium-shrink {
        flex-basis: auto;
    }
}

@media print,
screen and (min-width: 64em) {

    .grid-x>.large-1,
    .grid-x>.large-10,
    .grid-x>.large-11,
    .grid-x>.large-12,
    .grid-x>.large-2,
    .grid-x>.large-3,
    .grid-x>.large-4,
    .grid-x>.large-5,
    .grid-x>.large-6,
    .grid-x>.large-7,
    .grid-x>.large-8,
    .grid-x>.large-9,
    .grid-x>.large-full,
    .grid-x>.large-shrink {
        flex-basis: auto;
    }
}

.grid-x>.small-1,
.grid-x>.small-10,
.grid-x>.small-11,
.grid-x>.small-12,
.grid-x>.small-2,
.grid-x>.small-3,
.grid-x>.small-4,
.grid-x>.small-5,
.grid-x>.small-6,
.grid-x>.small-7,
.grid-x>.small-8,
.grid-x>.small-9 {
    flex: 0 0 auto;
}

.grid-x>.small-1 {
    width: 8.3333333333%;
}

.grid-x>.small-2 {
    width: 16.6666666667%;
}

.grid-x>.small-3 {
    width: 25%;
}

.grid-x>.small-4 {
    width: 33.3333333333%;
}

.grid-x>.small-5 {
    width: 41.6666666667%;
}

.grid-x>.small-6 {
    width: 50%;
}

.grid-x>.small-7 {
    width: 58.3333333333%;
}

.grid-x>.small-8 {
    width: 66.6666666667%;
}

.grid-x>.small-9 {
    width: 75%;
}

.grid-x>.small-10 {
    width: 83.3333333333%;
}

.grid-x>.small-11 {
    width: 91.6666666667%;
}

.grid-x>.small-12 {
    width: 100%;
}

@media print,
screen and (min-width: 40em) {
    .grid-x>.medium-auto {
        flex: 1 1 0px;
        width: auto;
    }

    .grid-x>.medium-1,
    .grid-x>.medium-10,
    .grid-x>.medium-11,
    .grid-x>.medium-12,
    .grid-x>.medium-2,
    .grid-x>.medium-3,
    .grid-x>.medium-4,
    .grid-x>.medium-5,
    .grid-x>.medium-6,
    .grid-x>.medium-7,
    .grid-x>.medium-8,
    .grid-x>.medium-9,
    .grid-x>.medium-shrink {
        flex: 0 0 auto;
    }

    .grid-x>.medium-shrink {
        width: auto;
    }

    .grid-x>.medium-1 {
        width: 8.3333333333%;
    }

    .grid-x>.medium-2 {
        width: 16.6666666667%;
    }

    .grid-x>.medium-3 {
        width: 25%;
    }

    .grid-x>.medium-4 {
        width: 33.3333333333%;
    }

    .grid-x>.medium-5 {
        width: 41.6666666667%;
    }

    .grid-x>.medium-6 {
        width: 50%;
    }

    .grid-x>.medium-7 {
        width: 58.3333333333%;
    }

    .grid-x>.medium-8 {
        width: 66.6666666667%;
    }

    .grid-x>.medium-9 {
        width: 75%;
    }

    .grid-x>.medium-10 {
        width: 83.3333333333%;
    }

    .grid-x>.medium-11 {
        width: 91.6666666667%;
    }

    .grid-x>.medium-12 {
        width: 100%;
    }
}

@media print,
screen and (min-width: 64em) {
    .grid-x>.large-auto {
        flex: 1 1 0px;
        width: auto;
    }

    .grid-x>.large-1,
    .grid-x>.large-10,
    .grid-x>.large-11,
    .grid-x>.large-12,
    .grid-x>.large-2,
    .grid-x>.large-3,
    .grid-x>.large-4,
    .grid-x>.large-5,
    .grid-x>.large-6,
    .grid-x>.large-7,
    .grid-x>.large-8,
    .grid-x>.large-9,
    .grid-x>.large-shrink {
        flex: 0 0 auto;
    }

    .grid-x>.large-shrink {
        width: auto;
    }

    .grid-x>.large-1 {
        width: 8.3333333333%;
    }

    .grid-x>.large-2 {
        width: 16.6666666667%;
    }

    .grid-x>.large-3 {
        width: 25%;
    }

    .grid-x>.large-4 {
        width: 33.3333333333%;
    }

    .grid-x>.large-5 {
        width: 41.6666666667%;
    }

    .grid-x>.large-6 {
        width: 50%;
    }

    .grid-x>.large-7 {
        width: 58.3333333333%;
    }

    .grid-x>.large-8 {
        width: 66.6666666667%;
    }

    .grid-x>.large-9 {
        width: 75%;
    }

    .grid-x>.large-10 {
        width: 83.3333333333%;
    }

    .grid-x>.large-11 {
        width: 91.6666666667%;
    }

    .grid-x>.large-12 {
        width: 100%;
    }
}

.grid-margin-x:not(.grid-x)>.cell {
    width: auto;
}

.grid-margin-y:not(.grid-y)>.cell {
    height: auto;
}

.grid-margin-x {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

@media print,
screen and (min-width: 40em) {
    .grid-margin-x {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }
}

.grid-margin-x>.cell {
    width: calc(100% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

@media print,
screen and (min-width: 40em) {
    .grid-margin-x>.cell {
        width: calc(100% - 1.875rem);
        margin-left: 0.9375rem;
        margin-right: 0.9375rem;
    }
}

.grid-margin-x>.auto,
.grid-margin-x>.shrink {
    width: auto;
}

.grid-margin-x>.small-1 {
    width: calc(8.33333% - 1.25rem);
}

.grid-margin-x>.small-2 {
    width: calc(16.66667% - 1.25rem);
}

.grid-margin-x>.small-3 {
    width: calc(25% - 1.25rem);
}

.grid-margin-x>.small-4 {
    width: calc(33.33333% - 1.25rem);
}

.grid-margin-x>.small-5 {
    width: calc(41.66667% - 1.25rem);
}

.grid-margin-x>.small-6 {
    width: calc(50% - 1.25rem);
}

.grid-margin-x>.small-7 {
    width: calc(58.33333% - 1.25rem);
}

.grid-margin-x>.small-8 {
    width: calc(66.66667% - 1.25rem);
}

.grid-margin-x>.small-9 {
    width: calc(75% - 1.25rem);
}

.grid-margin-x>.small-10 {
    width: calc(83.33333% - 1.25rem);
}

.grid-margin-x>.small-11 {
    width: calc(91.66667% - 1.25rem);
}

.grid-margin-x>.small-12 {
    width: calc(100% - 1.25rem);
}

@media print,
screen and (min-width: 40em) {

    .grid-margin-x>.auto,
    .grid-margin-x>.shrink {
        width: auto;
    }

    .grid-margin-x>.small-1 {
        width: calc(8.33333% - 1.875rem);
    }

    .grid-margin-x>.small-2 {
        width: calc(16.66667% - 1.875rem);
    }

    .grid-margin-x>.small-3 {
        width: calc(25% - 1.875rem);
    }

    .grid-margin-x>.small-4 {
        width: calc(33.33333% - 1.875rem);
    }

    .grid-margin-x>.small-5 {
        width: calc(41.66667% - 1.875rem);
    }

    .grid-margin-x>.small-6 {
        width: calc(50% - 1.875rem);
    }

    .grid-margin-x>.small-7 {
        width: calc(58.33333% - 1.875rem);
    }

    .grid-margin-x>.small-8 {
        width: calc(66.66667% - 1.875rem);
    }

    .grid-margin-x>.small-9 {
        width: calc(75% - 1.875rem);
    }

    .grid-margin-x>.small-10 {
        width: calc(83.33333% - 1.875rem);
    }

    .grid-margin-x>.small-11 {
        width: calc(91.66667% - 1.875rem);
    }

    .grid-margin-x>.small-12 {
        width: calc(100% - 1.875rem);
    }

    .grid-margin-x>.medium-auto,
    .grid-margin-x>.medium-shrink {
        width: auto;
    }

    .grid-margin-x>.medium-1 {
        width: calc(8.33333% - 1.875rem);
    }

    .grid-margin-x>.medium-2 {
        width: calc(16.66667% - 1.875rem);
    }

    .grid-margin-x>.medium-3 {
        width: calc(25% - 1.875rem);
    }

    .grid-margin-x>.medium-4 {
        width: calc(33.33333% - 1.875rem);
    }

    .grid-margin-x>.medium-5 {
        width: calc(41.66667% - 1.875rem);
    }

    .grid-margin-x>.medium-6 {
        width: calc(50% - 1.875rem);
    }

    .grid-margin-x>.medium-7 {
        width: calc(58.33333% - 1.875rem);
    }

    .grid-margin-x>.medium-8 {
        width: calc(66.66667% - 1.875rem);
    }

    .grid-margin-x>.medium-9 {
        width: calc(75% - 1.875rem);
    }

    .grid-margin-x>.medium-10 {
        width: calc(83.33333% - 1.875rem);
    }

    .grid-margin-x>.medium-11 {
        width: calc(91.66667% - 1.875rem);
    }

    .grid-margin-x>.medium-12 {
        width: calc(100% - 1.875rem);
    }
}

@media print,
screen and (min-width: 64em) {

    .grid-margin-x>.large-auto,
    .grid-margin-x>.large-shrink {
        width: auto;
    }

    .grid-margin-x>.large-1 {
        width: calc(8.33333% - 1.875rem);
    }

    .grid-margin-x>.large-2 {
        width: calc(16.66667% - 1.875rem);
    }

    .grid-margin-x>.large-3 {
        width: calc(25% - 1.875rem);
    }

    .grid-margin-x>.large-4 {
        width: calc(33.33333% - 1.875rem);
    }

    .grid-margin-x>.large-5 {
        width: calc(41.66667% - 1.875rem);
    }

    .grid-margin-x>.large-6 {
        width: calc(50% - 1.875rem);
    }

    .grid-margin-x>.large-7 {
        width: calc(58.33333% - 1.875rem);
    }

    .grid-margin-x>.large-8 {
        width: calc(66.66667% - 1.875rem);
    }

    .grid-margin-x>.large-9 {
        width: calc(75% - 1.875rem);
    }

    .grid-margin-x>.large-10 {
        width: calc(83.33333% - 1.875rem);
    }

    .grid-margin-x>.large-11 {
        width: calc(91.66667% - 1.875rem);
    }

    .grid-margin-x>.large-12 {
        width: calc(100% - 1.875rem);
    }
}

.grid-padding-x .grid-padding-x {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

@media print,
screen and (min-width: 40em) {
    .grid-padding-x .grid-padding-x {
        margin-right: -0.9375rem;
        margin-left: -0.9375rem;
    }
}

.grid-container:not(.full)>.grid-padding-x {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

@media print,
screen and (min-width: 40em) {
    .grid-container:not(.full)>.grid-padding-x {
        margin-right: -0.9375rem;
        margin-left: -0.9375rem;
    }
}

.grid-padding-x>.cell {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
}

@media print,
screen and (min-width: 40em) {
    .grid-padding-x>.cell {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
}
