{{ partial "homepage/header.html" . }}
<div id="content-wrapper">
    <section class="section larger">
        <div class="grid-container">
            <div class="grid-x grid-padding-x align-justify align-middle">
                {{range where .Site.Pages "Type" "=" "section-1"}} 
                <div class="cell large-5 medium-order-1 small-order-2 mb80">
                    <h2>{{ .Title }}</h2>
                    {{ .Content }}
                </div>
                <div class="cell large-6 medium-order-2 small-order-1 mb80 m-mb40">
                    <img src="{{ .Params.image }}">
                </div>
                {{ end }}
            </div>
            <div class="grid-x grid-padding-x align-justify align-middle">
                {{range where .Site.Pages "Type" "=" "section-2"}} 
                <div class="cell large-6 medium-order-1 small-order-1 m-mb40 ">
                    <img src="{{ .Params.image }}">
                </div>
                <div class="cell large-5 medium-order-2 small-order-2 ">
                    <h2>{{ .Title }}</h2>
                    {{ .Content }}
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    <section class="section bg-yellow">
        <div class="grid-container">
            <div class="grid-x grid-padding-x align-center">
                {{range where .Site.Pages "Type" "=" "section-3"}} 
                <div class="cell large-10 text-center">
                    <h2>{{ .Title }}</h2>
                    {{ .Content }}
                </div>
                {{ end }}
                
                {{ .Scratch.Set "i" 0 }}
                {{with .Site.Menus.tink}}
                <div class="cell large-10 pt40">
                    <div class="grid-x grid-padding-x">
                          
                          {{ range sort . "Weight"}}
                            {{ $.Scratch.Set "i" (add ($.Scratch.Get "i") 1) }}
                            {{ if eq ($.Scratch.Get "i") 1 }}
                            <div class="cell large-12">
                            {{ else }}
                            <div class="cell large-3">
                            {{ end }}
                               
                                <div class="box">
                                {{.Pre}}
                                <a class="permalink" href="{{.URL | absLangURL }}"></a>
                                <h3>{{safeHTML .Name}} </h3>
                                <p>{{safeHTML .Title}}</p>
                                {{.Post}}
                                </div>
                            </div>
                          {{end}}
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </section>
</div>
{{ partial "homepage/footer.html" . }}
