// mobile
@include breakpoint(medium down) {
  header {
    &#hero {
      padding-bottom: 0;

      .hero-image {
        transform: translateX(0);
      }
    }
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .hero-content {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  #nav-main {
    padding-top: 20px;
  }

  .nav {
    .nav-top {
      overflow-y: auto;
      white-space: nowrap;
      width: 100%;
    }

    ul {
      display: block;
      align-items: left;
      li {
        margin: 0 10px;
        display: inline;
        &:first-child {
          margin-left: 0;
        }
        a {
          font-size: rem-calc(14);
        }
      }
    }

    .logo {
      margin-bottom: 20px;
      svg {
        height: 40px;
      }
    }
  }

  #nav-footer {
    padding-bottom: 0;

    &.nav {
      ul {
        text-align: left;
        display: block;
        li {
          display: block;
          margin-left: 0;
        }
      }
    }
  }

  .logo-footer {
    display: inline-block;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 20px;

    .footer-logo {
      margin-left: 0;
    }
  }
}
