.nav {
  text-align: right;

  a {
    color: #fff;
    font-size: rem-calc(16);
  }

  ul {
    @include reset-list;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      margin: 0 25px;

      &:last-child {
        margin-right: 0;
      }
      &.active {
        a {
          color: #fff;
        }
      }

      a {
        display: inline-block;
        font-size: rem-calc(16);
        font-weight: 400;
        border-bottom: 1px solid $blue1;
        color: #9dafc4;
        &:hover {
          color: #fff;
          border-bottom: 1px solid #fff;
        }
      }
      &.pre {
        margin: 0 5px;
        a {
          color: #ffd105;
          border: 1px solid #0386ac;
          border-radius: 50em;
          padding: 3px;
          width: 32px;
          height: 32px;
          line-height: 1.65;
          text-align: center;
          display: block;
          &:hover {
            border: 1px solid #fff;
          }
        }
      }
    }
  }
}
@include breakpoint(medium down) {
  .nav {
    .nav-top {
      overflow-y: auto;
      white-space: nowrap;
      width: 100%;
      padding-top: 0;
      padding-bottom: 20px;
    }
    ul {
      display: block;
      li {
        margin: 0 10px;
        display: inline;
        &:first-child {
          margin-left: 0;
        }
        a {
          font-size: rem-calc(14);
          display: inline-block !important;
        }
      }
    }
  }
  .logo {
    margin-bottom: 20px;
    display: block;
    svg {
      height: 40px;
    }
  }
}
