@import "./colors";
@import "~foundation-sites/scss/util/util";
@import "./settings-docs";
@import "~foundation-sites/scss/foundation";
// @include foundation-everything;

@include foundation-xy-grid-classes;
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;

@import "./mixins";
@import "./share";

body {
  font-family: "Gotham A", "Gotham B", Helvetica, Roboto, Arial, sans-serif;
  background: $gray1;
  font-size: rem-calc(14) !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Gotham A", "Gotham B", Helvetica, Roboto, Arial, sans-serif !important;
  line-height: 1.3;
}
a {
  color: $blue1;
}
#body-inner {
  margin-bottom: 0;
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: left;
    text-transform: none;
  }
  > h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: rem-calc(32);
  }
  h2 {
    font-size: rem-calc(26);
  }
  h3 {
    font-size: rem-calc(24);
  }
  h4 {
    font-size: rem-calc(23);
  }
  pre code {
    font-size: rem-calc(14);
  }
}

/* Header */
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: 600;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
#site-header {
  background-color: $blue1;
  color: #fff;
  // height: 82px;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  @include breakpoint(medium down) {
    padding-bottom: 0;
    padding-top: 20px;
  }
}
/* end of Header */

/* Shortcuts & Sidebar */
#shortcuts {
  border-top: 1px solid $blue3;
  padding: 0 1rem;
  padding-top: 30px;
  ul {
    li {
      a {
        font-size: 14px;
        display: inline-block;
        em {
          display: inline-block;
          font-style: normal;
        }
        i {
          margin-right: 5px;
        }
      }
      &.active-s {
        a {
          em {
            display: inline-block;
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }
}
#search-wrapper {
  background: transparent;
  border-bottom: none;
  margin-bottom: 20px;
  .searchbox {
    margin-top: 0;
    border: 1px solid #7689a0;
    background: transparent;
    input {
      background-color: #fff;
      height: 40px;
      color: $gray2;
      padding-left: 35px;
    }
    label,
    span {
      color: #a7a7a7;
      top: 50%;
      transform: translateY(-50%);
      margin-bottom: 0;
    }
  }
}
.menu-toggle {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 10;
  font-size: 20px;
  color: #fff;
}
#sidebar {
  background: transparent;
  position: relative;
  width: 100%;
  margin-top: 40px;
  transition: all 0.5s ease;
  .menu-toggle {
    color: $blue3;
  }
  #shortcuts {
    border-top: 1px solid #dddddd;
    padding-left: 0;
    padding-right: 0;
    ul {
      li {
        i {
          color: $gray3;
        }
      }
    }
  }
  ul.topics,
  #shortcuts ul {
    padding-bottom: 30px;
    margin: 0;
    li {
      a {
        font-size: 14px;
      }
      > a {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 14px;
        color: $gray2;
        &:hover {
          color: $blue4 !important;
        }
      }

      &.active {
        margin: 0;
        padding: 0;
        background: transparent;
        > a {
          margin: 0 !important;
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          background: transparent;
          color: $blue4 !important;
        }
      }
    }
    > li {
      &.parent {
        background: transparent;
        > a {
          color: #000 !important;
          margin-bottom: 10px !important;
          font-weight: 500;
          font-size: rem-calc(17);
        }
        li {
          padding-left: 1rem;
        }
        > ul {
          li {
            padding-left: 0;
            ul {
              padding-left: 1rem;
            }
          }
        }
      }
    }
    ul {
      padding-bottom: 0;
      li {
        a {
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
    }
  }

  @include breakpoint(medium down) {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    left: -100%;
    top: 0;
    margin-top: 0;
    padding: 20px;
    padding-top: 50px;
    overflow: auto;
  }
}

body.sidebar-hidden {
  @include breakpoint(medium down) {
    #sidebar {
      left: 0;
    }
  }
}
.autocomplete-suggestions {
  border: none;
  .autocomplete-suggestion {
    font-size: 14px;
    line-height: 18px;
    &.selected {
      background: $blue3 !important;
    }
  }
}
/* end of Shortcuts & Sidebar */

/* Content */
.article {
  margin-top: 40px;
  padding: 30px 40px;
  background: #fff;
  border: 1px solid #dee6f0;
  border-radius: 7px;
  @include box-shadow();
  table {
    tbody {
      tr {
        td {
          word-break: break-all;
        }
      }
    }
  }
}
.button {
  background: #3986a7;
  padding: 13px 15px;
  box-shadow: none;
  display: inline-block;
  border-radius: 5px;
  &:hover {
    box-shadow: none;
    background: $blue3;
  }
  &.highlight {
    &:after {
      display: none !important;
    }
  }
}

#body {
  margin-left: 0;
  position: relative;
  a.highlight:not(.button) {
    color: #0082a7;
    &:after {
      width: 100%;
    }
    &:hover {
      &:after {
        width: 0;
      }
    }
  }
}
.faq {
  display: block;
  padding: 30px;
  border-bottom: 1px solid #cbcbcb;
  position: relative;
  .faq-label {
    font-weight: 500;
    .fas {
      position: absolute;
      left: 0;
      top: 34px;
      &:before {
        font-size: 16px;
      }
    }
  }
}
.contributors-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  left: -15px;
  li {
    width: calc(32% - 15px);
    margin: 0 15px;
    padding: 0;
    list-style: none;
    position: relative;
    padding-left: 100px;
    margin-bottom: 40px;
    min-height: 85px;
    img {
      width: 85px !important;
      height: auto !important;
      position: absolute;
      margin: 0 !important;
      border: 1px solid #c8c8c8;
      left: 0;
      top: 0;
    }
    .meta,
    .contributor {
      display: block;
      font-size: 16px;
    }
    .contributor {
      font-weight: 500;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 63.9375em) {
      width: calc(100% - 15px);
    }
  }
}
.text-left {
  text-align: left;
}
