{{- $current := . }}
{{- $tocLevels := default (default 6 .Site.Params.geekdocToC) .Page.Params.geekdocToC }}
{{- $sortBy := (default (default "title" .Site.Params.geekdocFileTreeSortBy) (.Get "sortBy") | lower) }}

{{- if $tocLevels }}
  <div class="gdoc-toc gdoc-toc__level--{{ $tocLevels }}">
    {{ template "toc-tree2" dict "sect" .Page.Pages "current" $current "sortBy" $sortBy }}
  </div>
{{- end }}


<!-- templates -->

{{- define "toc-tree2" }}
  <div class="section-index">
    {{ range .sect.GroupBy "Weight" }}
      {{ $rangeBy := .ByTitle }}

      {{ if eq $.sortBy "title" }}
        {{ $rangeBy = .ByTitle }}
      {{ else if eq $.sortBy "linktitle" }}
        {{ $rangeBy = .ByLinkTitle }}
      {{ else if eq $.sortBy "date" }}
        {{ $rangeBy = .ByDate }}
      {{ else if eq $.sortBy "publishdate" }}
        {{ $rangeBy = .ByPublishDate }}
      {{ else if eq $.sortBy "expirydate" }}
        {{ $rangeBy = .ByExpiryDate }}
      {{ else if eq $.sortBy "lastmod" }}
        {{ $rangeBy = .ByLastmod }}
      {{ else if eq $.sortBy "title_reverse" }}
        {{ $rangeBy = .ByTitle.Reverse }}
      {{ else if eq $.sortBy "linktitle_reverse" }}
        {{ $rangeBy = .ByLinkTitle.Reverse }}
      {{ else if eq $.sortBy "date_reverse" }}
        {{ $rangeBy = .ByDate.Reverse }}
      {{ else if eq $.sortBy "publishdate_reverse" }}
        {{ $rangeBy = .ByPublishDate.Reverse }}
      {{ else if eq $.sortBy "expirydate_reverse" }}
        {{ $rangeBy = .ByExpiryDate.Reverse }}
      {{ else if eq $.sortBy "lastmod_reverse" }}
        {{ $rangeBy = .ByLastmod.Reverse }}
      {{ end }}

      {{ range $rangeBy }}
        {{- if or (not .Params.geekdocHidden) (not (default true .Params.geekdocHiddenTocTree)) }}
            {{- if or .Content .Params.geekdocFlatSection }}
            <div class="entry" title='{{- partial "utils/title" . }}'>
                <h5>
                    <a href="{{ .RelPermalink }}">
                        {{- .Title -}}
                    </a>
                </h5>
                <p>{{ .Params.geekdocDescription }}</p>
            </div>
            {{- end -}}
        {{- end }}
      {{- end }}
    {{- end }}
  </div>
{{- end }}