<footer id="footer" class="bg-blue">
    <div class="grid-container">
        <section class="grid-x grid-margin-x align-middle text-center">
            <div class="cell large-12">
                <nav id="nav-footer">
                    <ul>
                      {{ range .Site.Menus.footer }}
                          <li><a href="{{.URL | absLangURL }}" title="{{safeHTML .Title}}">{{safeHTML .Name}}</a></li>
                      {{end}}
                    </ul>
                </nav>
                <p>
                    © 2021 <a href="https://www.linuxfoundation.org/">The Linux Foundation</a>. All right reserved
                </p>
                <p>
                    The Linux Foundation has registered trademarks and uses trademarks.
                </p>
                <p>
                    For a list trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/en/trademark-usage">Trademark Usage</a> page.
                </p>
            </div>
        </section>
    </div>
</footer>
